<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Animate Element Along SVG Path with GSAP</title>
	<link rel="stylesheet" href="style.css">
	<script src="TweenMax-latest-beta.js"></script>
	<script src="MorphSVGPlugin.min.js"></script>
	<script src="DrawSVGPlugin.js"></script>
</head>
<body>

	<div id="nav"></div>


	<svg id="demo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 786 400">

		<!-- Square -->
		<rect id="background" width="786" height="400" fill="#333"/>

		<!-- circle -->
		<circle id="circle" cx="40" cy="40" r="40" stroke="black" stroke-width="3" fill="red" />

		<!-- levels -->
		<circle id="level-1-pin" cx="15" cy="15" r="15" fill="yellow" />
		<circle id="level-2-pin" cx="15" cy="15" r="15" fill="yellow" />
		<circle id="level-3-pin" cx="15" cy="15" r="15" fill="yellow" />

		<!-- Lines -->
		<line id="line" x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
		<line id="line-two" x1="200" y1="200" x2="400" y2="0" style="stroke:rgb(188, 0, 235);stroke-width:2" />
		<line id="line-three" x1="400" y1="0" x2="500" y2="300" style="stroke:rgb(191, 255, 14);stroke-width:2" />

	</svg>

	<script src="app.js"></script>
</body>
</html>