<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Animate Element Along SVG Path with GSAP</title>
	<link rel="stylesheet" href="style.css">
	<script src="MorphSVGPlugin.min.js"></script>
</head>
<body>

	<div class="loader">
		<h2>Loading</h2>
	</div>

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 800">

		<!-- Square -->
		<rect id="background" width="800" height="800" fill="#333"/>

		<g id="lines">
			<line x1="400" y1="0" 		x2="400" y2="0"  	style="stroke:rgb(255,0,0);stroke-width:2" />
			<line x1="400" y1="0" 		x2="400" y2="100" 	style="stroke:rgb(255,0,0);stroke-width:2" />
			<line x1="400" y1="100" 	x2="400" y2="200" 	style="stroke:rgb(188, 0, 235);stroke-width:2" />
			<line x1="400" y1="200" 	x2="300" y2="300" 	style="stroke:rgb(191, 255, 14);stroke-width:2" />
			<line x1="300" y1="300" 	x2="200" y2="400" 	style="stroke:rgb(54, 10, 248);stroke-width:2" />
			<line x1="400" y1="200" 	x2="500" y2="300" 	style="stroke:rgb(96, 170, 255);stroke-width:2" />
			<line x1="400" y1="200" 	x2="400" y2="300" 	style="stroke:rgb(255, 0, 157);stroke-width:2" />
			<line x1="400" y1="300" 	x2="300" y2="400" 	style="stroke:rgb(255, 251, 0);stroke-width:2" />
			<line x1="400" y1="300" 	x2="500" y2="400"	 style="stroke:rgb(0, 255, 242);stroke-width:2" />
		</g>

		<g id="pins">
			<circle level-id="0" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="1" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="2" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="3" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="4" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="5" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="6" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="7" cx="15" cy="15" r="15" fill="yellow" />
			<circle level-id="8" cx="15" cy="15" r="15" fill="yellow" />
		</g>

		<circle id="avatar" cx="15" cy="15" r="15" stroke="black" stroke-width="3" fill="red" />

	</svg>

	<script src="app.js"></script>
</body>
</html>